@media not print {
    body {
        color: #635959;
    }
    header {
        background-color: #242323;
        color: #EFEFEF;
    }
    aside {
        background-color: #EFEFEF;
    }
    nav, footer {
        background-color: #D1CDCD;
        color: #242323;
    }
    h3, article h4 {
        color: #8C1018;
    }
    article a {
        color: #314052;
    }
}

header h1 {
    font-size: 4em;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured above: ';
    font-weight: bold;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight: lighter;
}

@media not print {
    main > h3 {
        font-size: 2em;
    }
}

header, footer, nav {
    padding: 20px 50px;
}

aside {
    padding: 50px 20px;
}

main {
    padding: 5px 10px;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.ttf') format('truetype');
}

body {
    font-family: 'Open Sans';
}

header {
    font-family: 'Roboto';
}

article {
    margin: 5px 0px;
    padding: 5px 5px;
    box-shadow: -1px -1px 6px #888888;
}

@media print {
    header {
        padding: 0px;
    }
    article {
        box-shadow: none;
    }
    nav, aside {
        flex: none;
        display: none;
    }
    header h1 {
        font-size: 2em;
    }
    header h2 {
        display: none;
    }
}

body {
    display: flex;
    flex-flow: row wrap;
}

header, footer {
    flex: 1 100%;
}

nav {
    flex: 05;
}

aside {
    flex: 20;
}

main {
    flex: 75;
}

@media print {
    nav, aside {
        flex: none;
    }
}

@media all and (max-width: 1000px) {
    nav, aside {
        flex: 1 100%;
    }
    nav > h3, nav > ul, nav ul > li {
        display: inline;
    }
    nav ol > li {
        display: none;
    }
    header {
        text-align: center;
    }
    nav > ul:first-of-type > li:last-of-type {
        color: transparent;
    }
}

section#carousel {
    flex: 1 100%;   
    background-color: #D1CDCD;
    color: #242323; 
}

section#carousel > figure > img {
    opacity: 0; 
    height: 0;
    overflow: hidden;
    margin: 0px auto;
}

section#carousel > figure.visible > img {
    opacity: 1; 
    height: auto;
    position: relative;
    overflow: hidden;  
}

section#carousel > figure > figcaption {
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

section#carousel > figure.visible > figcaption { 
    opacity: 1; 
    height: auto;
    text-align: center;  
    font-weight: bold;
    font-size: 1.5em;
}

@media print {    
    section#carousel {
        display: none;   
    }    
}

section#carousel > figure > img,figcaption {
    display: block;        
}

section#carousel > figure.visible > img,figcaption {
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}